.job-card-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    max-width: 360px;
    width: 300px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;

    h3 {
        font-size: 9px;
        padding: 4px 6px;
        box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
        width: max-content;
    }

    .company-name {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 35px;
            width: 35px;
        }

        .company-details {
            text-align: left;

            h1 {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #8b8b8b;
            }

            .role {
                font-size: 14px;
            }

            p {
                font-size: 11px;
                font-weight: 500;
                margin-top: 2px;
            }
        }
    }

    .job-salary {
        display: block;
        font-size: 14px;
        color: rgb(77, 89, 106);
        margin-top: 10px;
    }

    .company-about {
        margin-top: 10px;

        h2 {
            margin: 0px;
            font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 600;
        }

        p {
            white-space: pre-wrap;
            font-size: 14px;
            font-weight: 400;
            margin-top: 5px;
            height: 200px;
            mask-image: linear-gradient(180deg, #000 80%, transparent);
            -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
            overflow: hidden;
        }
    }

    .company-requirement {
        margin-top: 10px;

        h2 {
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #8b8b8b;
        }

        span {
            color: #8b8b8b;
            font-size: 14px;
        }
    }

    a {
        text-align: center;
        display: block;
        background-color: rgb(85, 239, 196);
        color: rgb(0, 0, 0);
        font-weight: 500;
        padding: 8px 18px;
        border-radius: 8px;
        box-shadow: none;
        border: transparent;
        text-decoration: none;
        margin-top: 10px;
    }
}