.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20%;
    margin-left: 20%;
    color: rgb(77, 89, 106);
    margin-bottom: 20px;
    margin-top: 20px;

    select,
    input {
        width: 200px;
        height: 30px;
    }

    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        flex-direction: column;

    }

    @media (max-device-width: 767px) {
        flex-direction: column;
    }
}